<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Error Handling Demo</title>

<link rel="stylesheet" href="../static/css/blog.css"
	th:href="@{/css/blog.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

	<div class="container">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-5"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">therealdanvega.com</a>
				</div>
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-5">
					<p class="navbar-text navbar-right">
						Signed in as <a href="#" class="navbar-link">Guest User</a>
					</p>
				</div>
			</div>
		</nav>

		<h2>Error Handler</h2>

		<table class="table table-striped">
			<thead>
				<tr>
					<td>Key</td>
					<td>Value</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>TimeStamp</td>
					<td th:text="${timestamp}"></td>
				</tr>
				<tr>
					<td>Status</td>
					<td th:text="${status}"></td>
				</tr>
				<tr>
					<td>Message</td>
					<td th:text="${message}"></td>
				</tr>
				<tr>
					<td>Error</td>
					<td th:text="${error}"></td>
				</tr>
				<tr>
					<td>Path</td>
					<td th:text="${path}"></td>
				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>